---
layout: default
---
{% assign author = site.authors[page.author] %}
<h2 class="blog-title">{{page.title}}</h2>
<div class="blog-background">
    <article class="col-12 col-md-7" itemscope itemtype="http://schema.org/BlogPosting">
        <meta itemprop="name" content="{{page.title}}" />
        <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
            <meta itemprop="name" content="Science for Nourishment">
        </div>
        <meta itemprop="image" content="{{page.image}}" />
        <div class="coverpost" style="background-image: url('/assets/background.jpg')">
            <!--background-image: url('{{page.image}}')-->
        </div>
        <div class="post-content" itemprop="articleBody">{{content}}</div>
        <hr />
        <div class="post-meta">
            Fecha: <span itemprop="datePublished"> {{page.date | date_to_string}}</span> - Escrito por:
            <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                <span itemprop="name" class="author-name"> {{author.name}}</span>
            </span>
        </div>
        <hr />
        <div class="col-12" id="disqus_thread"></div>
        <script>
            (function () { // DON'T EDIT BELOW THIS LINE
                var d = document, s = d.createElement('script');
                s.src = 'https://science-for-nourishment.disqus.com/embed.js';
                s.setAttribute('data-timestamp', +new Date());
                (d.head || d.body).appendChild(s);
            })();

        </script>
        <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                powered by
                Disqus.</a></noscript>
        <div class="col-md-12">
            <hr />
            <p>Continua leyendo con nosotros. Podr&iacute;an interesarte los siguientes
                art&iacute;culos:</p>
        </div>
        {% if page.previous %}
        <div class="col-md-6" style="padding: 0; min-height: 200px; overflow: hidden">
            <div>
                <h2><a href="{{page.previous.url}}">{{page.previous.title}}</a></h2>
                <p>{{page.previous.excerpt | strip_html | truncate: 30 }}...</p>
            </div>
        </div>
        {% endif %} {% if page.next %}
        <div class="col-md-6" style="padding: 0; min-height: 200px; overflow: hidden">
            <div>
                <h2><a href="{{page.next.url}}">{{page.next.title}}</a></h2>
                <p>{{page.next.excerpt | strip_html | truncate: 30 }}...</p>
            </div>
        </div>
        {% endif %}
    </article>
    <div class="col-md-4 blog-card">
        <div class="blog-card">
            <img class="contact-img" src="{{author.image}}" alt="{{author.name}}" />
            <div class="author-info">
                <h2 rel="author">{{author.name}}</h2>
                <p class="d-none d-md-block">{{author.bio}}</p>
            </div>
            <br>
            <div class="share-icons">
                Compartir:
                <ul class="list-inline list-share-icons">
                    <li>
                        <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{page.url}}"
                            onclick="window.open(this.href, 'facebook-share', 'width=580,height=296');return false;"><i
                                class="fa fa-facebook fb-tooltip"></i></a>
                    </li>
                    <li>
                        <a href="https://twitter.com/share?text={{page.title}}&amp;url={{ site.url }}{{page.url}}"
                            onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i
                                class="fa fa-twitter tw-tooltip"></i></a>
                    </li>
                    <li>
                        <a href="https://plus.google.com/share?url={{ site.url }}{{page.url}}"
                            onclick="window.open(this.href, 'google-plus-share', 'width=490,height=530');return false;"><i
                                class="fa fa-google-plus gp-tooltip"></i></a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</div>