---
layout: default
---
{% assign author = site.authors[page.author] %}
<h2 class="blog-title">{{page.title}}</h2>
<div class="blog-background">
    <div class="col-12 col-md-8 pl-md-5 p-0">
        <article class="blog-card" itemscope itemtype="http://schema.org/BlogPosting">
            <meta itemprop="name" content="{{page.title}}" />
            <meta itemprop="image" content="{{page.image}}" />
            <div itemprop="publisher" itemscope itemtype="https://schema.org/Organization">
                <meta itemprop="name" content="Science for Nourishment">
            </div>
            <div itemprop="articleBody">{{content}}</div>
            <hr />
            <div>
                Fecha: <span itemprop="datePublished"> {{page.date | date_to_string}}</span> - Escrito por:
                <span itemprop="author" itemscope itemtype="http://schema.org/Person">
                    <span itemprop="name" class="author-name"> {{author.name}}</span>
                </span>
            </div>
            <hr />
            <div id="disqus_thread"></div>
            <script>
                (function () {
                    var d = document, s = d.createElement('script');
                    s.src = 'https://ludoteca-digital.disqus.com/embed.js';
                    s.setAttribute('data-timestamp', +new Date());
                    (d.head || d.body).appendChild(s);
                })();
            </script>
            <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments
                    powered by
                    Disqus.</a></noscript>
            <hr />
            <p>Continua leyendo con nosotros. Podr&iacute;an interesarte los siguientes
                art&iacute;culos:</p>
            <div class="action-bar">
                {% if page.previous %}
                <div class="col-md-4 col-12 px-0">
                    <h2><a class="big-link" href="{{page.previous.url}}">{{page.previous.title}}</a></h2>
                </div>
                {% endif %} {% if page.next %}
                <div class="col-md-4 col-12 px-0">
                    <h2><a class="big-link" href="{{page.next.url}}">{{page.next.title}}</a></h2>
                </div>
                {% endif %}
            </div>
        </article>
    </div>
    <div class="col-12 col-md-4 pr-md-5 p-0">
        <div class="blog-helper">
            {% if page.categories contains 'actividad' %}
            <div class="d-none d-md-block">
                <h2>Indice</h2>
                <a href="#materiales">Materiales</a><br />
                <a href="#instrucciones">Instrucciones</a><br />
                <a href="#beneficios">Beneficios</a><br />
                <hr />
            </div>
            {% endif %}
            <img class="contact-img" src="{{author.image}}" alt="{{author.name}}" />
            <h2 rel="author">{{author.name}}</h2>
            <p class="d-none d-md-block">{{author.bio}}</p>
            <br>
            <hr />
            <div class="share-bar">
                <span>Contacto:</span>
                <a href="https://m.me/LudotecaDigitalES" class="blog-icon fab fa-facebook-square"></i></a>
                <a href="mailto:{{author.mail}}"><i class="blog-icon far fa-envelope"></i></a>
            </div>
            <hr />
            <div class="share-bar">
                <span>Compartir:</span>
                <a href="https://www.facebook.com/sharer/sharer.php?u={{ site.url }}{{page.url}}"
                    onclick="window.open(this.href, 'facebook-share','width=580,height=296');return false;"><i
                        class="blog-icon fab fa-facebook-square"></i></a>
                <a href="https://twitter.com/share?text={{post.title}}&amp;url={{ site.url }}{{page.url}}"
                    onclick="window.open(this.href, 'twitter-share', 'width=550,height=235');return false;"><i
                        class="blog-icon fab fa-instagram-square"></i></a>
            </div>
        </div>
    </div>
</div>